.inverse-icon: {
	background-color: #fff;
}

.highlight-text-private: {
	background-color: #4169E1;
}

.highlight-text: {
	background-color: #1E90FF;
}

.comment-priv: {
	background-color: #696969;
}

.comment-share: {
	background-color: #778899;
}